@font-face {
    font-family: handwritten;
    src: url(fonts/Pacifico-Regular.ttf);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #3aafa9;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main {
    text-align: center;
    font-family: handwritten;
    background-color: #def2f1;
    font-size: 150%;
    width: 100%;
    box-sizing: border-box;
}

.custom-font {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button, input {
    color: #def2f1;
    border: 0.6px;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    background: #17252a;
    font-size: 2rem;
}

button {
    cursor: pointer;
}

button:hover {
    color: #17252a;
    background: #def2f1;
}