@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    background-color:#faf0e6;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.toDoText {
    text-align: center;
    background-color: #eed9c4;
    font-size: 150%;
    width: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button, input {
    color: black;
    border: 0.6px solid black;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    background: #d9b99b;
    font-size: 2rem;
    border-radius: 7px;
}

button:hover {
    color: #17252a;
    background: #eed9c4;
}